<html>
    <head>
        <title>Reading List</title>
        <link rel="stylesheet" th:href="@{/style.css}"></link>
    </head>
    <body>
        <h2>Your Reading List</h2>

        <div th:unless="${#lists.isEmpty(books)}">
            <dl th:each="book:${books}">
                <dt class="bookHeadline">
                    <span th:text="${book.title}">Title</span> by
                    <span th:text="${book.author}">Author</span>
                    (ISBN: <span th:text="${book.isbn}">ISBN</span>)
                </dt>


            </dl>
        </div>

        <div th:if="${#lists.isEmpty(books)}">
            <p>You have no books in your book list</p>
        </div>

        <hr/>

        <h3>Add a book</h3>
        <form method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" size="50"></input><br/>

            <label for="author">Author:</label>
            <input type="text" name="author" size="50"></input><br/>

            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" size="50"></input><br/>

            <label for="description">Description:</label>
            <textarea name="description" size="80" rows="5"></textarea><br/>
            
            <input type="submit"></input>

        </form>
    </body>
</html>